# Design document (private)
APPS-STEVENACZ-DESIGN.md
docs/
Docs/

# Astro dev/build outputs
.astro
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Testing
coverage
*.lcov
.nyc_output

# Vercel
.vercel

# Netlify
.netlify
